
<h1>Statements</h1

<ul>
  <% @statements.each do |statement| %>
    <li>
      <%= link_to statement.title, statement %>
    </li>
  <% end %>
</ul>

<%= link_to "New Statement", new_statement_path %>
  
